body {
    background-image: url("../assets/background.jpg");
    background-attachment: fixed;
    margin: 0;
    font-family: 'VT323', monospace;

}
h1, h2{
    text-align: center;
    color: white;
}
.create_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 25px;
    border: 0 solid black;
    border-radius: 5px;
    background-color: #000000;

}
input {
    border: 0 solid black;
    background-color: #ffffff;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    width: 200px;
}
button {
    border: 0 solid black;
    background-color: aliceblue;
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
}

.notes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.note-wrap{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    min-height: 600px;
    margin-left: 300px;
}
.note > h1{
    margin-left: 10px;
}
.note{
    width: 350px;
    margin: 20px 0 20px 60px;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 20px;
    background-color: black;
    opacity: 0.6;
}

ul{
    margin: 10px auto;
    padding: 0;
    width: 360px;
    border-radius: 10px;
    list-style-type: none;
    background-color: #000000;
    color: white;
    opacity: 0.6;

}
.note-name{
    margin: 0 auto 20px auto;
    padding: 10px 0 10px 0;
}
.note-data{

}
.tasks{
    display: flex;
    list-style-type: disc;
    align-items: center;
    justify-content: center;
    margin: -10px;
}
.tasks-2{
    display: flex;
    list-style-type: disc;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    margin: -10px;
}
.checkbox{
    opacity: 0;
    margin-left: -118px;
    margin-right: -88px;
}
.notes-li{
    background-color:  #000000;
}
.textDecoration{
    text-decoration: line-through;
}

.create-window {
    width: 400px;
    margin: 30px auto;
}

.create-body{

    width: 400px;
    height: 300px;
    background-color: black;
    border-radius: 5px;
    opacity: .6;


}
.button{
    display: flex;
    justify-content: center;
    width: 150px;
    padding: 10px 15px;
    background-color: #332f2f;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}
